.button{
	padding: 5px;
	width: 100px;
}

.component{
	display: flex;
	padding: 5px;
}

.content{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.display{
	display: flex;
}

.hidden{
	display: none;
}

.item{
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	width: 100%;
}

.label{
	display: flex;
	padding: 6px;
}

.options{
	display: flex;
}

.panel{
	background-color: #DDD;
	margin-top: 30px;
	padding: 10px;
	width: 100%;
}

.selectField1{
	padding: 5px;
	width: 125px;
}

.selectField2{
	padding: 5px;
}
